<% provide(:title, 'User') %>


<h1>Список всех зарегистрированных пользователей</h1>
<p>
  <table border="1">
    <thead>
      <tr>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Название центра</th>
        <th>Тип пользователя</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td><%= link_to 'Добавить пользователя', new_user_path %><br>
        <%= link_to 'Редактировать пользователя', edit_user_path(:id) %><br>
        <%= link_to 'Удалить пользователя', user_path(:id), method: :delete, date: {confirm: 'Вы уверены?'} %></td>
      </tr>
    </tfoot>
    <tbody>
      <% @hash.each do |usrs|%>
        <tr>
          <td><%= usrs[:name] %></td>
          <td><%= usrs[:password] %></td>
          <td><%= usrs[:centr_name] %></td>
          <td><%= usrs[:type] %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</p>