<% provide(:title, 'User') %>


<h1>Список всех зарегистрированных пользователей</h1>
<p>
  <table border="1">
    <thead>
      <tr>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Название центра</th>
        <th>Тип пользователя</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td><%= link_to 'Добавить пользователя', new_user_path %></td>
      </tr>
    </tfoot>
    <tbody>
      <% @hash.each do |usrs| %>
        <tr>
          <td><%= usrs[:name] %></td>
          <td><%= usrs[:password] %></td>
          <td><%= usrs[:centr_name] %></td>
          <td><%= usrs[:type] %></td>
          <td><%= link_to 'Редактировать', edit_user_path(usrs[:id]) %><br>
              <%= link_to 'Удалить', user_path(usrs[:id]), confirm: 'Вы уверены?', method: :delete%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</p>