<% provide(:title, 'User') %>


<h1>Список всех зарегистрированных пользователей</h1>
<p>
  <table border="1">
    <thead>
      <tr>
        <th>User Name</th>
        <th>User Password</th>
        <th>User Centr Name</th>
        <th>User Type</th>
      </tr>
    </thead>
    <tbody>
      <% @hash.each do |usrs|%>
        <tr>
          <td><%= usrs[:name] %></td>
          <td><%= usrs[:password] %></td>
          <td><%= usrs[:centr_name] %></td>
          <td><%= usrs[:type] %>
          </td>
        </tr>
      <%end%>
    </tbody>
    <tfoot>
      <tr><%= link_to 'Добавить пользователя', controller: 'user', action: 'create' %></tr>
      <tr><%= link_to 'Редактировать пользователя', controller: 'user', action: 'edit' %></tr>
      <tr><%= link_to 'Удалить пользователя', controller: 'user', action: 'delete' %></tr>
    </tfoot>
  </table>

</p>