<!DOCTYPE html>
<html>
  <head>
    <title>CentrTurizma App | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, messages| %>
      <%= content_tag :div, class: name do %>
      <% messages = Array(messages) %>
        <ul>
          <% messages.each do |message| %>
            <%= content_tag :li, message %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
